<div class="row animate-box">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-6 text-center">
			<span class="fh5co-counter js-counter" data-from="0" data-to="9452" data-speed="2000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">Members</span>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 text-center">
				<span class="fh5co-counter js-counter" data-from="0" data-to="214" data-speed="2000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">Ministries</span>
			</div>
			<div class="clearfix visible-sm-block visible-xs-block"></div>
			<div class="col-md-3 col-sm-6 col-xs-6 text-center">
				<span class="fh5co-counter js-counter" data-from="0" data-to="433" data-speed="2000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">Classes</span>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-6 text-center">
				<span class="fh5co-counter js-counter" data-from="0" data-to="512" data-speed="2000" data-refresh-interval="50"></span>
				<span class="fh5co-counter-label">Activities</span>
			</div>
		</div>
	</div>
</div>