<div class="col-md-3 animate-box">
	<div class="news">
		<a href="#" class="img-holder"><%= image_tag("backgrounds/img-1.jpg", class: "img-responsive" ) %></a>
		<div class="desc">
			<span class="date">March 30, 2017</span>
			<h3><a href="#">Live News</a></h3>
			<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			<a href="#">Read More <i class="icon-arrow-right3"></i></a>
		</div>
	</div>
</div>
<div class="col-md-3 animate-box">
	<div class="news">
		<a href="#" class="img-holder"><%= image_tag("backgrounds/img-3.jpg", class: "img-responsive" ) %></a>
		<div class="desc">
			<span class="date">March 30, 2017</span>
			<h3><a href="#">Biblical Counseling</a></h3>
			<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			<a href="#">Read More <i class="icon-arrow-right3"></i></a>
		</div>
	</div>
</div>
<div class="col-md-3 animate-box">
	<div class="news">
		<a href="#" class="img-holder"><%= image_tag("backgrounds/img-2.jpg", class: "img-responsive" ) %></a>
		<div class="desc">
			<span class="date">March 30, 2017</span>
			<h3><a href="#">Helping Children</a></h3>
			<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			<a href="#">Read More <i class="icon-arrow-right3"></i></a>
		</div>
	</div>
</div>
<div class="col-md-3 animate-box">
	<div class="news">
		<a href="#" class="img-holder"><%= image_tag("backgrounds/img-4.jpg", class: "img-responsive" ) %></a>
		<div class="desc">
			<span class="date">March 30, 2017</span>
			<h3><a href="#">Helping Children</a></h3>
			<p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
			<a href="#">Read More <i class="icon-arrow-right3"></i></a>
		</div>
	</div>
</div>