<div class="col-md-4 text-center animate-box">
	<div class="sermon-entry">
		<div class="sermon" style="background-image: url(<%= image_url "template/sermon-1.jpg" %>);">
			<div class="play">
				<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
			</div>
		</div>
		<h3>Soul Winning</h3>
		<span>Pstr. John Doe</span>
	</div>
</div>
<div class="col-md-4 text-center animate-box">
	<div class="sermon-entry">
		<div class="sermon" style="background-image: url(<%= image_url "template/sermon-3.jpg" %>);">
			<div class="play">
				<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
			</div>
		</div>
		<h3>Message From God</h3>
		<span>Pstr. John Doe</span>
	</div>
</div>
<div class="col-md-4 text-center animate-box">
	<div class="sermon-entry">
		<div class="sermon" style="background-image: url(<%= image_url "template/sermon-2.jpg" %>);">
			<div class="play">
				<a class="popup-vimeo" href="https://vimeo.com/channels/staffpicks/93951774"><i class="icon-play3"></i></a>
			</div>
		</div>
		<h3>Our World Today</h3>
		<span>Pstr. John Doe</span>
	</div>
</div>