<div class="container-wrap">
	<footer id="fh5co-footer" role="contentinfo">
		<div class="col-md-4 text-center">
			<h3>Rua da Saudade, Nº 1713, Lagoa Nova - Cuxá Eventos, Anexo ao Hotel Maine</h3>
		</div>
		<div class="col-md-4 text-center">
			<h3><a href="#">IBN</a></h2>
		</div>
		<div class="col-md-4 text-center">
			<p>
				<ul class="fh5co-social-icons">
					<li><a href="#"><i class="icon-youtube"></i></a></li>
					<li><a href="https://www.facebook.com/igrejabereiananatal/"><i class="icon-facebook2"></i></a></li>
					<li><a href="#"><i class="icon-twitter2"></i></a></li>
				</ul>
			</p>
		</div>
		<div class="row copyright">
			<div class="col-md-12 text-center">
				<p> 
					<small class="block">Design por <a href="http://freehtml5.co/" target="_blank">FreeHTML5</a>
					<br>
					Desenvolvido por <a href="http://github.com/LuanGB/" target="_blank">Luan Gonçalves Barbosa</a></small>
				</p>
			</div>
		</div>
	</footer>
</div>
